// Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";

// perfect scrollbar
@import "perfectscrollbar/main";

$longdegs: (
    0:   ( 0,-1 ),
    90:  ( 1, 0 ),
    180: ( 0, 1 ),
    270: (-1, 0 ),
    45:  ( 1,-1 ),
    135: ( 1, 1 ),
    225: (-1, 1 ),
    315: (-1,-1 ),
);

// long shadow (color, length in px, start alpha, end alpha, start blur, end blur, spaceing, direction in deg or index [1->8])
@function longshadow($color, $length, $sa, $ea, $sblur, $eblur, $sp, $dir) {
    $val: 0px 0px 0px $color;
    $alphasub: ( $sa - $ea ) / $length;
    $blursub: ( $sblur - $eblur ) / $length;
    $xydif: (1,1);
    // direction
    @if $dir < 0 { @warn "makelongshadow() direction '{$dir}' sould be positive"; }
    @else {
        @if map-has-key($longdegs, $dir) {
            $xydif: map-get($longdegs, $dir);
        }
        @else {
            $degkeys: map-keys($longdegs);
            @if $dir < length($degkeys) {
                @if map-get($longdegs, nth($degkeys, $dir)) {
                    $xydif: map-get($longdegs, nth($degkeys, $dir));
                } @else {
                    @warn "makelongshadow() direction '{$dir}' sould be [{$degkeys}] or [1->8]";
                }
            }
        }
    }
    // generate shadow
    @for $i from 1 through $length {
        $alpha: $sa - ( $alphasub  * $i );
        $blur: $sblur - ( $blursub * $i );
        $val: #{$val}, #{$i * (nth($xydif, 1) * $sp)}px #{$i * (nth($xydif, 2) * $sp)}px #{$blur}px #{rgba($color, $alpha)};
    }
    @return $val;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    cursor: default;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: color('light-blue', 'base');
}

.rippler {
    display: block;
    border: none;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    animation: rippler 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hide {
    pointer-events: none;
}

$logo-buttons-gap: 48px;
#menu {
    position: absolute;
    height: 100%;
    width: 100%;
    >#home {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: opacity 0.4s;
        opacity: 1;
        &.hide {
            opacity: 0;
            >#logo {
                transform: translate(0, 0);
                span {
                    opacity: 0;
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
        >#logo {
            position: absolute;
            top: calc(50% - #{$logo-buttons-gap});
            transform: translate(0, -50%);
            width: 100%;
            text-align: center;
            transition: transform 0.6s cubic-bezier(.55,0,.1,1);
            span {
                color: color('grey', 'lighten-5');
                font-size: 6em;
                opacity: 1;
                transition: opacity 0.3s;
                transition-delay: 0.3s;
                @extend .no-select;
                >i {
                    font-size: 1em;
                }
                &:after {
                    opacity: 1;
                    transition: opacity 2.5s;
                    content: 'Trend Game';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: calc(100% + 16px);
                    text-shadow: longshadow(color('light-blue','darken-2'), 80, 1, 1, 0, 0, 1, 6);
                    -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0));
                }
            }
        }
        >#buttons {
            position: absolute;
            top: calc(50% + #{$logo-buttons-gap});
            left: 50%;
            transform: translate(-50%, -50%);
            transition: color 0.2s;
            >a {
                margin: 0 8px;
                background-color: color('light-blue','darken-2');
            }
            .ripple {
                color: transparent;
            }
        }
    }
    >#join {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s;
        transition-delay: 0.6s;
        opacity: 1;
        &.hide {
            opacity: 0;
            >#spinner {
                opacity: 0;
            }
        }
        >#spinner {
            z-index: 3;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.loaded {
                opacity: 0;
            }
        }
        >#top {
            pointer-events: none;
            @extend .no-select;
            //background: color('light-blue','base');
            height: 80px;
            width: 100%;
            >.title {
                opacity: 0;
                position: absolute;
                top: 40px;
                transform: translate(-50%,-50%);
                font-size: 2em;
                font-weight: normal;
                color: color("light-blue", "lighten-5");
                transition: opacity 0.6s, left 0.6s;
                transition-timing-function: cubic-bezier(.55,0,.1,1);
            }
        }
        >#content {
            display: flex;
            position: absolute;
            left: 50%;
            width: calc(100% - 64px);
            height: auto;
            max-height: calc(100% - 112px);
            border: 1px solid #e0e0e0;
            border-radius: 2px;
            background-color: color('grey', 'lighten-4');
            transform: translate(-50%, 0);
            transition: width 0.6s, max-width 0.6s;
            transition-timing-function: cubic-bezier(.55,0,.1,1);
            overflow: hidden;
            >#serverlist {
                float: left;
                position: relative;
                height: 100%;
                width: 100%;
                max-width: 320px;
                background-color: #e0e0e0;
                @extend .no-select;
                transition: width 0.6s, height 0.6s;
                transition-timing-function: cubic-bezier(.55,0,.1,1);
                .collection-item>#roomcount {
                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }
                    &:before {
                        opacity: 0;
                        content: 'Rooms';
                        color: #f8f8f8;
                        position: absolute;
                        left: calc(-100% - 14px);
                        width: auto;
                        height: 100%;
                        font-size: 12px;
                        font-weight: normal;
                        padding: 0 10px;
                        background: rgba(color('grey', 'darken-2'), 0.9);
                        box-sizing: padding-box;
                        border-radius: 2px;
                        transition: opacity 0.1s;
                    }
                }
            }
            >#roomlist {
                float: right;
                position: relative;
                height: 100%;
                width: 0;
                @extend .no-select;
                transition: width 0.6s cubic-bezier(.55,0,.1,1);
                .collection {
                    margin: 8px;
                    border: none;
                    opacity: 0;
                    transition: opacity 0.3s;
                    transition-delay: 0.6s;
                }
            }
            .collection {
                margin: 0;
                border: none;
                border-radius: 0;
                .collection-item {
                    &:hover {
                        background-color: color('grey', 'lighten-4');
                    }
                }
            }
        }
        &.servers {
            >#top {
                >#servers {
                    left: 50%;
                    opacity: 1;
                }
                >#rooms {
                    left: calc(50% + 128px);
                    opacity: 0;
                }
            }
            >#content {
                max-width: 320px;
            }
        }
        &.rooms {
            >#top {
                >#servers {
                    left: calc(50% - 128px);
                    opacity: 0;
                }
                >#rooms {
                    left: 50%;
                    opacity: 1;
                }
            }
            >#content {
                max-width: 1280px;
                height: calc(100% - 112px);
                >#serverlist {
                    width: 25%;
                    .collection-item {
                        background-color: color('grey', 'lighten-2');
                        &.selected {
                            background-color: color('grey', 'lighten-4');
                        }
                        >#roomcount {
                            opacity: 0;
                        }
                    }
                }
                >#roomlist {
                    width: 75%;
                    background-color: color('grey', 'lighten-4');
                    >.collection {
                        opacity: 1;
                        .collection-item {
                            background-color: color('grey', 'lighten-6');
                            >.name {
                                
                            }
                            >.owner {
                                color: color('grey', 'base');
                                margin-left: 8px;
                                &:before {
                                    content: '~ ';
                                }
                            }
                            >.playericon {
                                font-size: 1.25rem;
                                line-height: 20px;
                                color: color('grey', 'darken-1');
                                position: absolute;
                                right: 44px;
                            }
                            >.playercount {
                                width: 32px;
                                line-height: inherit;
                                text-align: center;
                                color: color('grey', 'darken-1');
                                position: absolute;
                                right: 16px;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }
        }
    }
}



#game {
    &.hide {
        display: none;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color('grey', 'base');
    >#top {
        background: color('grey', 'base');
        height: 160px;
        text-align: center;
        >#text {
            position: relative;
            display: inline-block;
            top: 50%;
            transform: translate(0,-50%);
            font-size: 2em;
            font-weight: normal;
            color: color('grey', 'base');
            >input#keywordinput {
                box-sizing: content-box;
                background: transparent;
                border: none;
                font: inherit;
                font-size: inherit;
                font-weight: inherit;
                border-bottom: solid 3px color('grey', 'base');
                width: 80px;
                text-align: center;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

#chart1 {
}

#textwidth {
    box-sizing: border-box;
    position: absolute;
    height: 0px;
    overflow: hidden;
    font-size: inherit;
    font-weight: inherit;
}
































