// Colors
$ps-border-radius: 4px !default;

$ps-rail-default-opacity: 0 !default;
$ps-rail-container-hover-opacity: 0.25 !default;
$ps-rail-hover-opacity: 0.5 !default;

$ps-bar-bg: transparent !default;
$ps-bar-container-hover-bg: #212121 !default;
$ps-bar-hover-bg: transparent !default;
$ps-rail-hover-bg: transparent !default;

// Sizes
$ps-scrollbar-x-rail-bottom: 7px !default;
$ps-scrollbar-x-rail-height: 8px !default;
$ps-scrollbar-x-bottom: 4px !default;
$ps-scrollbar-x-height: 8px !default;

$ps-scrollbar-y-rail-right: 0px !default;
$ps-scrollbar-y-rail-width: 8px !default;
$ps-scrollbar-y-right: 4px !default;
$ps-scrollbar-y-width: 8px !default;
